
<div class="card">
  <div class="card-header"style="
  background: dimgray;
  font-size: large;
  font-style: normal;
  color: floralwhite;">
  Login Page
  </div>
</div>
<form>
    <div class="form-group">
      <label for="loginPage">Email address</label>
      <input type="email" class="form-control" id="loginPage" aria-describedby="emailHelp" placeholder="Enter email"
      [(ngModel)]="uname">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="loginPage">Password</label>
      <input type="password" class="form-control" id="loginPage" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="loginPage" [(ngModel)]="upwd">
      <label class="form-check-label" for="loginPage">Check me out</label>
    </div>
    <button type="submit" style="
    color: white;
    background: dimgray;
    font-size: larger;
    margin-left: 37%;"
    class="btn btn-primary" (click)="loginFn({'uname':uname,'upwd':upwd})">Submit</button>
  </form>